[version]
  current = 'v6.5.0'

[settings]
  cachePath = '/var/lib/trueblocks/cache'
  defaultChain = 'mainnet'
  indexPath = '/var/lib/trueblocks/unchained'

[pinning]
  gatewayUrl = 'https://gateway.pinata.cloud/ipfs/'
  localPinUrl = 'http://localhost:5001'
  remotePinUrl = 'https://api.pinata.cloud/pinning/pinFileToIPFS'

[unchained]
  preferredPublisher = 'publisher.unchainedindex.eth'
  smartContract = '0x0c316b7042b419d07d343f2f4f5bd54ff731183d'

[chains]
  [chains.mainnet]
    chain = 'mainnet'
    chainId = '1'
    ipfsGateway = 'https://gateway.pinata.cloud/ipfs/'
    localExplorer = 'http://localhost:1234/'
    remoteExplorer = 'https://etherscan.io/'
    rpcProviders = ['${TRUEBLOCKS_RPC_URL}']
    symbol = 'ETH'
    blockTime = 13.0
    [chains.mainnet.scrape]
      appsPerChunk = 2000000
      snapToGrid = 100000
      firstSnap = 2300000
      unripeDist = 28
      allowMissing = false
      channelCount = 20
